{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<form  method="POST" action="/result/" enctype="multipart/form-data">
				{% csrf_token %}
				<!-- Input file path -->
			    <lable for="file">Please select your invetory file</lable>
			    <hr class="my-4">
			    <input type="file" name="user_file" style="border: 1px solid #58b195" />
			    <button type="submit" value="OK">Submit</button>
			</form>
		</div>
		<div class="col-sm-7">
			<img src="/static/index_mars_dorobot.gif">
			<img src="/static/index_moma_dorobot.gif">
			<img src="/static/index_palletizing_dorobot.gif">
		</div>
	</div>
</div>
{% endblock %}

